@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{
  font-family: "Roboto";
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 100%;
  min-height: 100vh;
   background-image: linear-gradient(to right bottom, #fc00ff, #00dbde);
}

.CardFront{
  text-align: center;
  background-color: #66CB92;
  color: white;
  border-radius: 10px;
  width: 35vw;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: small;
  .top, .back, .buttons{
    visibility: hidden;
  }
}

.CardBack{
  transition: transform 0.8s;
  transform: rotateY(360deg);
  transform-style: preserve-3d;
  font-size: small;
  text-align: center;
  background-color: white;
  color: black;
  border-radius: 10px;
  width: 35vw;
  height: 40vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1%;
  .top{
    background-color: #66CB92;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 20%;
    border-radius: 10px;
    color: white;
  }
  .question{
    visibility: hidden;
  }
  .buttons
  {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50%;
    transform: scale(200%);
    .yes{
      color: #66CB92;
    }
    .no{
      color: #FF9396;
    }
  }
}
.Main{
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  gap: 10%;
  .ProgressBar{
    width: 40vw;
    color: #66CB92;
  }
}
